In [467]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [468]:
data = pd.read_csv('movie_bd_v5.csv')

In [469]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [470]:
answers = {} # создадим словарь для ответов

data['profit'] = data['revenue'] - data['budget'] #Создаем колонку с прибылью фильмов

data['release_date'] = pd.to_datetime(data['release_date']) #переводим время во временной формат

data['actors'] = pd.Series(data['cast'].str.split('|')) #Создаем колонку с актерами для последующих заданий и разделяем их
data_a = data.explode('actors')

data['genre'] = pd.Series(data['genres'].str.split('|')) #Создаем колонку с жанрами для последующих заданий и разделяем их
data_g = data.explode('genre')

data['prod_companie'] = pd.Series(data['production_companies'].str.split('|')) #Создаем колонку с продюсссерскими компаниями
data_p = data.explode('prod_companie')                                         #для последующих заданий и разделяем их

data['dir'] = pd.Series(data['director'].str.split('|'))    #Создаем колонку с Режиссерами для последующих заданий и разделяем их
data_dir = data.explode('dir')

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [471]:
# в словарь вставляем номер вопроса и ваш ответ на него
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides	(tt1298650)' #  +
answers['2'] = '1157. Gods and Generals (tt0279111)'
answers['3'] = "768. Winnie the Pooh (tt1449283)"
answers['4'] = '110'
answers['5'] = '107'
answers['6'] = '239. Avatar (tt0499549)'
answers['7'] = '1245. The Lone Ranger (tt1210819)'
answers['8'] = '1478'
answers['9'] = '599. The Dark Knight (tt0468569)'
answers['10'] = '1245. The Lone Ranger (tt1210819)'
answers['11'] = 'Drama'   
answers['12'] = 'Drama'   
answers['13'] = 'Peter Jackson 649059368' 
answers['14'] = 'Ridley Scott 6' 
answers['15'] = 'Chris Hemsworth' 
answers['16'] = 'Matt Damon' 
answers['17'] = 'Nicolas Cage - Action - 17 '
answers['18'] = 'K-19: The Widowmaker (tt0267626)'
answers['19'] = '2015   89001215755'
answers['20'] = '2014    2295464519'
answers['21'] = 'September'
answers['22'] = '450'
answers['23'] = 'Peter Jackson'
answers['24'] = 'Four By Two Productions 83'
answers['25'] = 'Midnight Picture Show = 175.0'
answers['26']= 'Inside Out, The Dark Knight, 12 Years a Slave'
answers['27'] = 'Daniel Radcliffe & Rupert Grint 8'

In [472]:
#Записываем в переменную Дата1(по номеру задания) строку фильма с самым большим бюджетом data.budget.max()
data1 = data[data.budget == data.budget.max()] 
display(data1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,actors,genre,prod_companie,dir
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000,"[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I...","[Adventure, Action, Fantasy]","[Walt Disney Pictures, Jerry Bruckheimer Films...",[Rob Marshall]

ВАРИАНТ 2

In [473]:
#Второй вариант - сортировка по бюджетам фильмов, только показываем первый с начала таблицы head(1)
data1 = data.sort_values(['budget'],ascending=False).head(1) # Отсортировали по колонке бюджет первый в списке
display(data1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,actors,genre,prod_companie,dir
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000,"[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I...","[Adventure, Action, Fantasy]","[Walt Disney Pictures, Jerry Bruckheimer Films...",[Rob Marshall]

# 2. Какой из фильмов самый длительный (в минутах)?

In [474]:
#Тут я тоже решил использовать сортировку
data2 = data.sort_values(['runtime'],ascending=False).head(1) # Отсортировали по колонке бюджет первый в списке
display(data2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,actors,genre,prod_companie,dir
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064,"[Stephen Lang, Jeff Daniels, Robert Duvall, Ke...","[Drama, History, War]","[Turner Pictures, Antietam Filmworks]",[Ronald F. Maxwell]

# 3. Какой из фильмов самый короткий (в минутах)?

In [475]:
#Выводим строку фильма с самым коротким хронометражом.
data3 = data[data.runtime == data.runtime.min()] 
display(data3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,actors,genre,prod_companie,dir
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000,"[Jim Cummings, Travis Oates, Jim Cummings, Bud...","[Animation, Family]","[Walt Disney Pictures, Walt Disney Animation S...","[Stephen Anderson, Don Hall]"

# 4. Какова средняя длительность фильмов?

In [476]:
#Записываем в переменную среднюю длительность фильмов runtime.mean()
data4 = data.runtime.mean()
display(data4)

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [477]:
#Записываем в переменную медианное значение длительности фильмов
data5 = data.runtime.median()
display(data5)

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [478]:
#Записываем в переменную максимальное значение по колонке прибыль
data6 = data[data.profit == data.profit.max()]
display(data6)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,actors,genre,prod_companie,dir
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847,"[Sam Worthington, Zoe Saldana, Sigourney Weave...","[Action, Adventure, Fantasy, Science Fiction]","[Ingenious Film Partners, Twentieth Century Fo...",[James Cameron]

# 7. Какой фильм самый убыточный?

In [479]:
#Записываем в переменную минимальное значение по колонке прибыль
data7 = data[data.profit == data.profit.min()]
display(data7)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,actors,genre,prod_companie,dir
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090,"[Johnny Depp, Armie Hammer, William Fichtner, ...","[Action, Adventure, Western]","[Walt Disney Pictures, Jerry Bruckheimer Films...",[Gore Verbinski]

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [480]:
#Записываем в переменную все фильмы у которых бюджет меньше сборов, т.е. есть прибыль. Записал 2 варианта
data8 = data[data.revenue > data.budget]
data8 = data[data.profit > 0]
display(data8)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,actors,genre,prod_companie,dir
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,6.5,2015,1363528810,"[Chris Pratt, Bryce Dallas Howard, Irrfan Khan...","[Action, Adventure, Science Fiction, Thriller]","[Universal Studios, Amblin Entertainment, Lege...",[Colin Trevorrow]
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,7.1,2015,228436354,"[Tom Hardy, Charlize Theron, Hugh Keays-Byrne,...","[Action, Adventure, Science Fiction, Thriller]","[Village Roadshow Pictures, Kennedy Miller Pro...",[George Miller]
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015-03-18,6.3,2015,185238201,"[Shailene Woodley, Theo James, Kate Winslet, A...","[Adventure, Science Fiction, Thriller]","[Summit Entertainment, Mandeville Films, Red W...",[Robert Schwentke]
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,7.5,2015,1868178225,"[Harrison Ford, Mark Hamill, Carrie Fisher, Ad...","[Action, Adventure, Science Fiction, Fantasy]","[Lucasfilm, Truenorth Productions, Bad Robot]",[J.J. Abrams]
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2015-04-01,7.3,2015,1316249360,"[Vin Diesel, Paul Walker, Jason Statham, Miche...","[Action, Crime, Thriller]","[Universal Pictures, Original Film, Media Righ...",[James Wan]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1871,tt0171433,30000000,37036004,Keeping the Faith,Ben Stiller|Edward Norton|Jenna Elfman|Anne Ba...,Edward Norton,"If you have to believe in something, you may a...","Best friends since they were kids, Rabbi Jacob...",127,Comedy,Spyglass Entertainment|Touchstone Pictures|Tri...,2000-04-14,5.7,2000,7036004,"[Ben Stiller, Edward Norton, Jenna Elfman, Ann...",[Comedy],"[Spyglass Entertainment, Touchstone Pictures, ...",[Edward Norton]
1875,tt0219854,65000000,69700000,The Kid,Bruce Willis|Spencer Breslin|Emily Mortimer|Li...,Jon Turteltaub,Nobody ever grows up quite like they imagined.,Powerful businessman Russ Duritz is self-absor...,104,Fantasy|Comedy|Family,Walt Disney Pictures,2000-07-07,5.9,2000,4700000,"[Bruce Willis, Spencer Breslin, Emily Mortimer...","[Fantasy, Comedy, Family]",[Walt Disney Pictures],[Jon Turteltaub]
1877,tt0199725,20000000,27728118,Love & Basketball,"Chris Warren, Jr.|Kyla Pratt|Sanaa Lathan|Omar...",Gina Prince-Bythewood,All's fair in love and basketball.,A young African-American couple navigates the ...,124,Action|Comedy|Drama|Romance,40 Acres & A Mule Filmworks,2000-04-21,7.3,2000,7728118,"[Chris Warren, Jr., Kyla Pratt, Sanaa Lathan, ...","[Action, Comedy, Drama, Romance]",[40 Acres & A Mule Filmworks],[Gina Prince-Bythewood]
1883,tt0122459,24000000,36609995,Return to Me,David Duchovny|Minnie Driver|Carroll O'Connor|...,Bonnie Hunt,A comedy straight from the heart,It took a lot of cajoling to get Bob (Duchovny...,115,Romance|Comedy|Drama,Metro-Goldwyn-Mayer (MGM)|JLT Productions,2000-04-07,5.5,2000,12609995,"[David Duchovny, Minnie Driver, Carroll O'Conn...","[Romance, Comedy, Drama]","[Metro-Goldwyn-Mayer (MGM), JLT Productions]",[Bonnie Hunt]
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,2000-07-13,6.6,2000,82299717,"[Patrick Stewart, Hugh Jackman, Ian McKellen, ...","[Adventure, Action, Science Fiction]","[Twentieth Century Fox Film Corporation, Donne...",[Bryan Singer]

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [481]:
#Записываем в переменную условие по году потом добавляем в переменную фильм с наибольшим кассовым сбором
data9 = data[data.release_year == 2008]
data901 = data9[data9.revenue == data9.revenue.max()]
display(data901)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,actors,genre,prod_companie,dir
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825,"[Christian Bale, Michael Caine, Heath Ledger, ...","[Drama, Action, Crime, Thriller]","[DC Comics, Legendary Pictures, Warner Bros., ...",[Christopher Nolan]

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [482]:
#По аналогии с 9 пунктом
data10 = data[(data.release_year >= 2012)&(data.release_year <= 2014)]
data101 = data10[data10.profit == data10.profit.min()]
display(data101)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,actors,genre,prod_companie,dir
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090,"[Johnny Depp, Armie Hammer, William Fichtner, ...","[Action, Adventure, Western]","[Walt Disney Pictures, Jerry Bruckheimer Films...",[Gore Verbinski]

# 11. Какого жанра фильмов больше всего?

In [483]:
data_g.genre.value_counts() #Посчитаем количество жанров в датасете, который мы создали, с отдельной колонкой разделенной по жанрам

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genre, dtype: int64

ВАРИАНТ 2

In [484]:
pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts() #Второй вариант без использования переменной и создания колнки

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [485]:
data12 = data_g[(data_g.profit > 0)] #Создаем условие для переменной, и считаем количество фильмов с жанрами. (Таблицу используем где жанры разделены)
data12.genre.value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genre, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [486]:
#Группируем  всех режиссеров и суммироуем их кассовые сборы, выводим первого
data13 = data.groupby(['director'])['revenue'].sum().sort_values(ascending=False)
display(data13.head(1))

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [487]:
#Записываем в переменную все фильмы жанра экшн и считаем количество снятых режиссерами.
data14 = data_g[data_g.genre == 'Action']
data14['director'].value_counts()
#Второй вариант без использования датафрейма с разделенными жанрами
data14 = data[data.genres.str.contains('Action')]
data14['director'].value_counts()

Paul W.S. Anderson    7
Michael Bay           7
Antoine Fuqua         6
Robert Rodriguez      6
Ridley Scott          6
                     ..
Jeff Tremaine         1
Bruce Hunt            1
Tamra Davis           1
Neil Burger           1
Brian Helgeland       1
Name: director, Length: 345, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [488]:
# Сортируем фильмы по году, далее записываем в переменную сумму, которую принес актер в этом году
data_b = data_a[(data_a.release_year == 2012)]
data15 = data_b.groupby(['actors'])['revenue'].sum().sort_values(ascending=False)
display(data15.head(1))

actors
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [489]:
#Используем датафрейм с разделенными актерами и создаем условие, где бюджем фильм больше среднего и считаем количество фильмов
data16 = data_a[(data_a.budget > data_a.budget.mean())]
display(data16.actors.value_counts())

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Eddie Murphy         15
                     ..
Eric Lloyd            1
Alan Cumming          1
LL Cool J             1
Abigail Hargrove      1
Chris Wedge           1
Name: actors, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [490]:
#используем датафрейм с разделенными жанрами, ищем в нем имя актера, далее считаем количество жанров
data17 = data_g[data_g.cast.str.contains('Nicolas Cage')]
display(data17.genre.value_counts())

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Family              3
Animation           3
Mystery             3
History             2
Romance             1
War                 1
Horror              1
Name: genre, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [491]:
#Используем датафрейм с разделенными продюссерскими компаниями, записываем в переменную, выводим строку фильма с минимальным профитом
data18 = data_p[data_p.prod_companie == 'Paramount Pictures']
display(data18.loc[data18.profit == data18.profit.min()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,actors,genre,prod_companie
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,2002-07-19,6.0,2002,-64831034,"[Harrison Ford, Liam Neeson, Peter Sarsgaard, ...","[Thriller, Drama, History]",Paramount Pictures

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [492]:
#группируем в переменную год и кассовые сборы, показываем первую строку
data19 = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)
display(data19.head(1))

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [493]:
#создаем датафрейм со всеми фильмами компании Warner Bros и группируем по году выпуска фильма и прибыли
data20 = data[data['production_companies'].str.contains('Warner Bros')] ##В данном задании я искал по соответствию в названиях компании а не искал в созданном датафрейме
data20.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [494]:
#Переводим во временной формат дату релиза и считаем показатель месяц
data21 = data.release_date.dt.month.value_counts().sort_values(ascending=False)
display(data21.head(1))

9    227
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [495]:
#Сортируем по летним месяцам и выводим количество через функцию len
data22 = data[(data.release_date.dt.month==6) | (data.release_date.dt.month==7)| (data.release_date.dt.month==8)]
len(data22)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [496]:
#Используем Датафрейм data_dir где отсортированы Режиссеры, ставим условие по зимним месяцам, считаем количество.

data23 = data_dir[(data_dir.release_date.dt.month==1) | (data_dir.release_date.dt.month==2) | (data_dir.release_date.dt.month==12)].dir.value_counts()
display(data23)

Peter Jackson         7
Clint Eastwood        6
Steven Soderbergh     6
Adam Shankman         4
Martin Scorsese       4
                     ..
Roman Polanski        1
John Frankenheimer    1
Jeremy Garelick       1
Xavier Palud          1
Matthew Vaughn        1
Name: dir, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [497]:
#Используем датафрейм с продюссерскими компаниями
data_p['len_w'] = data_p.original_title.apply(lambda x:len(x)) #Создаем колонку с количеством символов в названии фильма
data24 = data_p[data_p['len_w'] == data_p['len_w'].max()] #Записываем в переменную фильм(ы) с наибольим количеством символов
display(data24)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,actors,genre,prod_companie,len_w
1448,tt0443453,18000000,261572744,Borat: Cultural Learnings of America for Make ...,Sacha Baron Cohen|Ken Davitian|Luenell|Pamela ...,Larry Charles,"Come to Kazakhstan, it's nice!",Kazakh journalist Borat Sagdiyev travels to Am...,82,Comedy,Twentieth Century Fox Film Corporation|Four By...,2006-11-02,6.4,2006,243572744,"[Sacha Baron Cohen, Ken Davitian, Luenell, Pam...",[Comedy],Twentieth Century Fox Film Corporation,83
1448,tt0443453,18000000,261572744,Borat: Cultural Learnings of America for Make ...,Sacha Baron Cohen|Ken Davitian|Luenell|Pamela ...,Larry Charles,"Come to Kazakhstan, it's nice!",Kazakh journalist Borat Sagdiyev travels to Am...,82,Comedy,Twentieth Century Fox Film Corporation|Four By...,2006-11-02,6.4,2006,243572744,"[Sacha Baron Cohen, Ken Davitian, Luenell, Pam...",[Comedy],Four By Two Productions,83

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [498]:
#Используем датафрейм с отсортированными продюссерскими компаниями
data_p.overview.str.split(' ') # разделяем слова в колонке описание
data_p['len_e'] = data_p.overview.apply(lambda x:(len(x.split()))) #Записываем в новый столбец количество слов в описании фильма
data25 = data_p.groupby(['prod_companie'])['len_e'].mean().sort_values(ascending = False) #Группируем по названию компании и средней длине описания, сортируем.
display(data25.head(1))

prod_companie
Midnight Picture Show    175.0
Name: len_e, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [499]:
#Тут я не совсем понял как нужно делать, поэтому решил использовать свой подход
top_19 = [] # создаем список с топ 19 фильмов по рейтингу, Потому что в data содержится 1889 фильмов, 1% от фильмов это 19 если округлить
ans = ['Inside Out','The Dark Knight','12 Years a Slave', 
           'Upside Down','Inside Out','Iron Man','BloodRayne', 'The Adventures of Rocky & Bullwinkle',
           '300','Lucky Number Slevin','Kill Bill: Vol. 1','Batman Begins','The Lord of the Rings: The Return of the King',
           'Upside Down'] #Создаем переменную со всеми ответами
data26 = data.sort_values('vote_average', ascending = False).head(19) # Переменная с топ19 фильмами по рейтингу
for answer in data26.original_title:
    top_19.append(answer) # добавляем в список
Compare = [x for x in ans if x in top_19] # находим совпадения
Compare
# Далее я просто посмотрел, какой ответ соответствует полностью

['Inside Out',
 'The Dark Knight',
 '12 Years a Slave',
 'Inside Out',
 'The Lord of the Rings: The Return of the King']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [500]:
mov_acts_comb = []  #добавляем список с парами актеров
for cast in data.cast.str.split('|'): #для каждого состава актеров делаем комбинацию из 2 актеров и добавляем в список
    mov_acts_comb.extend(list(combinations(cast, 2)))
mov_acts_pair = pd.Series(mov_acts_comb).value_counts() #Считаем количество максимальных совпадений по парам
display(mov_acts_pair)

(Daniel Radcliffe, Emma Watson)        8
(Daniel Radcliffe, Rupert Grint)       8
(Rupert Grint, Emma Watson)            7
(Johnny Depp, Helena Bonham Carter)    6
(Ben Stiller, Owen Wilson)             6
                                      ..
(Mark Ruffalo, Ben Kingsley)           1
(Ana Gasteyer, Amy Poehler)            1
(Brian Van Holt, Jared Padalecki)      1
(Seth Green, Justin Long)              1
(Neve Campbell, Emma Roberts)          1
Length: 18121, dtype: int64

In [501]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides\t(tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson 649059368',
 '14': 'Ridley Scott 6',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Nicolas Cage - Action - 17 ',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015   89001215755',
 '20': '2014    2295464519',
 '21': 'September',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions 83',
 '25': 'Midnight Picture Show = 175.0',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint 8'}

In [502]:
# и убедиться что ни чего не пропустил
len(answers)

27